---

---

<header class="bg-white p-4 border-b border-gray-100">
  <nav class="flex items-center justify-between container mx-auto px-4">
    <div class="flex items-center gap-3">
      <div class="w-12 h-12 rounded-full bg-gradient-to-br from-[#0A4A2E] to-[#10305D] flex items-center justify-center font-bold text-[#FFFEF8] shadow-lg hover:shadow-xl transition-shadow duration-300 overflow-hidden" data-astro-cid-sz7xmlte="">
        <img src="/assets/logos-sans-fond/Lgo-T5C-blanc.png" alt="The 5 Cup Logo" class="w-full h-full object-contain" loading="lazy"/>
      </div>
      <h1 class="text-lg font-medium text-gray-800">The 5 Cup</h1>
    </div>

    <div class="flex items-center gap-8">
      <a
        href="/"
        class="text-base font-medium text-[#CB9D36] hover:text-[#b88d2f] transition-colors"
      >
        Accueil
      </a>
      <a
        href="/competition"
        class="text-base font-medium text-gray-500 hover:text-gray-900 transition-colors"
      >
        Compétition
      </a>
      <a
        href="/social"
        class="text-base font-medium text-gray-500 hover:text-gray-900 transition-colors"
      >
        Réseaux
      </a>

      <a
        href="/tickets"
        class="bg-gradient-to-r from-[#CB9D36] to-[#E99089] text-white px-6 py-2 rounded-lg font-medium text-base hover:opacity-90 transition-opacity shadow-sm"
      >
        Billetterie
      </a>
    </div>
  </nav>
</header>
